* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	height:100%;
}

#info {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: green;
  display: flex;
  flex-direction: column;
  /* height: 50%; */
  width: 100%;
  /* background-color: #ccc; */
  font-size: 20px;
}
#result {
  margin-top: 20px;
  font-size: 50px;
}
@media only screen and (max-width: 600px) {
  #info {
    font-size: 12px;
  }
  #result {
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  #info {
    font-size: 12px;
  }
  #result {
    font-size: 30px;
  }
}
@media only screen and (max-width: 320px) {
  #info {
    font-size: 10px;
  }
  #result {
    font-size: 30px;
  }
}


